[submodule "components/espmqtt"]
	path = components/espmqtt
	url = https://github.com/DavidAntliff/espmqtt.git
[submodule "components/esp32-ds18b20"]
	path = components/esp32-ds18b20
	url = https://github.com/DavidAntliff/esp32-ds18b20.git
[submodule "components/esp32-owb"]
	path = components/esp32-owb
	url = https://github.com/DavidAntliff/esp32-owb.git
[submodule "components/esp32-smbus"]
	path = components/esp32-smbus
	url = https://github.com/DavidAntliff/esp32-smbus.git
[submodule "components/esp32-tsl2561"]
	path = components/esp32-tsl2561
	url = https://github.com/DavidAntliff/esp32-tsl2561
[submodule "avr/avr-poolmon"]
	path = avr/avr-poolmon
	url = https://github.com/DavidAntliff/avr-poolmon
